@using BlazorWebAssemblyApp.Components;

@if (ShowConfirmation)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            @onclick="() => OnConfirmationChange(false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (productEdit == null)
                    {
                        <LoadingIndicator></LoadingIndicator>
                    }
                    else
                    {
                        <h3>Product Edit: @productEdit.Name</h3>

                        <EditForm id="f" Model="productEdit" OnValidSubmit="OnValidSubmit">
                            <DataAnnotationsValidator />
                            <div class="form-group">
                                <label for="Name">Product Name</label>
                                <InputText class="form-control" @bind-Value="productEdit.Name"></InputText>
                                <ValidationMessage For="()=>productEdit.Name"></ValidationMessage>
                                <small id="nameHelp" class="form-text text-muted">Please enter product title here.</small>
                            </div>
                            <div class="form-group">
                                <label for="Name">Price</label>
                                <InputNumber class="form-control" @bind-Value="productEdit.Price"></InputNumber>
                                <ValidationMessage For="()=>productEdit.Price"></ValidationMessage>
                                <small id="nameHelp" class="form-text text-muted">Please enter product title here.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </EditForm>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            @onclick="() => OnConfirmationChange(false)">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-outline-success"
                            @onclick="() => OnConfirmationChange(true)">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
}